NODE_ENV=staging
PORT=5003

POSTGRES_HOST=staging-db-host
POSTGRES_PORT=5432
POSTGRES_USER=staging_user
POSTGRES_PASSWORD=staging_password_mock
POSTGRES_DATABASE=bloggers_platform_staging

IS_USER_AUTOMATICALLY_CONFIRMED=false
IS_SWAGGER_ENABLED=true
INCLUDE_TESTING_MODULE=false
DB_AUTOSYNC=false

ACCESS_TOKEN_SECRET=staging_access_secret_mock
REFRESH_TOKEN_SECRET=staging_refresh_secret_mock
ACCESS_TOKEN_EXPIRE_IN=15m
REFRESH_TOKEN_EXPIRE_IN=7d

BLOGS_MAX_POSTS_COUNT_BEFORE_MODERATION=10
PAYMENTS_SUBSCRIPTION_PRICE=5
USERS_REMOVE_UNCONFIRMED_USERS_SCHEDULER_INTERVAL_IN_MINUTES=10
REMOVE_UNCONFIRMED_USERS_AFTER_INTERVAL_IN_HOURS=24