NODE_ENV=development
PORT=5001

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DATABASE=bloggers_platform

IS_USER_AUTOMATICALLY_CONFIRMED=false
IS_SWAGGER_ENABLED=true
INCLUDE_TESTING_MODULE=false
DB_AUTOSYNC=false

ACCESS_TOKEN_SECRET=change_me_access_secret
REFRESH_TOKEN_SECRET=change_me_refresh_secret
ACCESS_TOKEN_EXPIRE_IN=15m
REFRESH_TOKEN_EXPIRE_IN=7d

BLOGS_MAX_POSTS_COUNT_BEFORE_MODERATION=10
PAYMENTS_SUBSCRIPTION_PRICE=5
USERS_REMOVE_UNCONFIRMED_USERS_SCHEDULER_INTERVAL_IN_MINUTES=30
REMOVE_UNCONFIRMED_USERS_AFTER_INTERVAL_IN_HOURS=24